.filter-control {
  max-width: 500px; 
  /* margin: 0 auto 12px; */
  display: flex;
  gap: 12px;
  align-items: center;
  background-color: #f7f9fc; 
  padding: 10px 16px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  box-sizing: border-box; 
  width: 100%; 
  margin-bottom: 15px;
}


.filter-control__label {
  font-weight: 700;
  font-size: 15px;
  color: #333;
}

.filter-control__select,
.filter-control__input {
  flex-grow: 1;
  padding: 8px 12px;
  font-size: 1rem;
  color: #1E2633;
  border: 1.5px solid #ccc;
  border-radius: 6px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  background-color: white;
  cursor: pointer;
  box-sizing: border-box;
}

.filter-control__select:focus,
.filter-control__input:focus {
  outline: none;
  border-color: #834C69;
  box-shadow: 0 4px 10px rgba(181, 101, 119, 0.7);
  background-color: #ffffff;
}

.filter-control__option {
  padding: 6px 8px;
}
